
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   a {
    text-decoration: none;
   }
   li {
    list-style: none;
    display: inline;
    font-size: large;
    padding: 20px;
   }
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: navy;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
 